/* ARTICLE, SECTIONS */

article {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    border-radius: 20px;
    color: var(--white);
}
section h1 {
    width: 100%;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

section h2 {
    font-size: 50px;
}

section p {
    font-size: 2em;
    font-family: 'Open Sans';
    font-weight: 300;
}

section + section {
    margin-top: 120px;
}

/* sobre mi */

#sobre-mi {
    transform: translateX(-10%);
    margin-top: 150px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.profilepic {
    position: relative;
    top: -150px;
    left: 200px;
    grid-row-start: 1;
    grid-column-start: 1;

    width: 300px;
    border-radius: 50%;
    border: 10px solid var(--white);
}

#sobre-mi h1{
    margin-bottom: 50px;
}

#sobre-mi div {
    background: var(--white);
    color: var(--royal-blue-dark);
    height: 60%;
    border-radius: 30px;
    border-top-left-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

#sobre-mi p + p {
    margin-top: 30px;
}

/* competencias */

#competencias hr {
    color: var(--white);
}
#competencias h1{
    margin-bottom: 20px;
}
.sides {
    display: flex;
    flex-direction: row;    
}
.sides div {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#langs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#competencias i {
    font-size: 4em;
    transition: transform 0.2s;
}

#competencias i:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.icon-html5:hover {color:#E34F26;}
.icon-css3:hover { color:#1572B6; }
.icon-javascript:hover { color:#F7DF1E; }
.icon-c:hover { color:#A8B9CC; }
.icon-cplusplus:hover { color:#00599C; }
.icon-python:hover { color:#3776AB; }

@media screen and (max-width: 1100px) {
    section {
        height: 100%;
        margin-top: 50px;
        border-radius: 0;
        width: 100%;
    }
    section p {
        font-size: 45px;
        font-family: 'Open Sans';
        font-weight: 300;
    }

    .profilepic {
        position: initial;
        width: 250px;
        border: none;
        margin-top: 20px;
    }
    #sobre-mi {
        margin-top: 0;
        transform: translateX(0);
        width: 100%;
        background: var(--white);
        color: var(--royal-blue-dark);
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #sobre-mi div {
        padding-left: 30px;
        padding-right: 30px;
    }

    .sides {
        flex-direction: column;    
    }
}

/* contacto */

#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 0;
}

#contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    color: var(--royal-blue-dark);
    padding: 50px;
    border-radius: 20px;
    font-size: 30px;
}

#contacto .field {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid var(--royal-blue-dark);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contacto label {
    font-family: 'Open Sans';
}

#contacto input {
    font-family: 'Open Sans';
    border: none;
}

.form-row {
    display: flex;
}

textarea:focus, input:focus{
    outline: none;
}

textarea {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans';
    resize: none;
    border: none;
}

#contacto #button {
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--royal-blue-dark);
    border-radius: 5px;
    background: var(--royal-blue-dark);
    color: var(--white);
    transition: background, color, 0.2s;
}

#contacto #button:hover {
    background: var(--white);
    color: var(--royal-blue-dark);
}

@media screen and (max-width: 750px) {
    .form-row {
        flex-direction: column;
    }
    section h1 {
        width: 100%;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }
    section p {
        font-size: 20px;
        font-family: 'Open Sans';
        font-weight: 300;
    }
}