@font-face {
    font-family: openSans;
    src: url(fonts\Open_Sans\OpenSans-Light.ttf);
}

@font-face {
    font-family: poppins;
    src: url(fonts\Open_Sans\OpenSans-Light.ttf);
}

@font-face {
    font-family: poppins;
    src: url(fonts\Open_Sans\OpenSans-Light.ttf);
}