:root {
	--white: #FFFFFF;
	--black: #212121;
	--grey: #393E46;
	--blue: #4A63D3;
	--turquoise: #32E0C4;
}

* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	padding: 0;
	margin: 0;
	background: var(--background);
	color: var(--color);
	border-color: var(--color);
	transition: backbround, color, border-color, 0.2s;
	font-family: 'Open Sans', sans-serif;
}
