/* NAV */
nav * { color: var(--royal-blue-dark); }

nav {
    font-size: 1.5em;
    z-index: 1;
    background: var(--white);
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    opacity: 0;

    border-bottom: 5px solid var(--royal-blue-dark);
    justify-content: space-between;
    transition: opacity 0.2s;
}

nav div {
    display: flex;
    align-items: center;
}

nav h1 {
    font-size: 1em;
    font-weight: 700;
    margin-left: 20px;
}

nav i {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-size: 2em;
    margin-right: 10px;

    transition: background, color, 0.2s;
}

.icon-instagram:hover {
    background: url('../media/ig_gradient.jpg');
    background-size: contain;
    color: white;
}

.icon-twitter:hover {
    background-color: #1DA1F2;
    color: white;
}

.icon-github:hover {
    background: black;
    color: white;
}

@media screen and (max-width: 1100px) {
    nav h1 { display: none; }
    nav {
        justify-content: center;
    }
}

@media screen and (max-width: 850px) {
    .tag {
        display: none;
    }
}