
.icon-javascript:before { content: '\e801'; } /* '' */
.icon-python:before { content: '\e802'; } /* '' */
.icon-cplusplus:before { content: '\e803'; } /* '' */
.icon-c:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\e807'; } /* '' */
.icon-css3:before { content: '\e808'; } /* '' */
.icon-html5:before { content: '\e809'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
