header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-size: 1.5em;
    height: 8vh;
    width: 100%;
    z-index: 1;
}

header>div {
    display: flex;
    flex-direction: row;
}

nav {
    margin-right: 40px;
}

nav>a {
    text-decoration: none;
    color: inherit;
    margin-left: 40px;
    font-weight: 300;
    font-size: 1.1em;
}

.themeBtn {
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 10px;
}

#logo {
    width: 2em;
}

@media screen and (max-width: 850px) {
    header {
        justify-content: space-between;
    }
    nav {
        display: none;
    }
}